hr {
    border: 1px solid black;
}
/* students */

* {
    box-sizing: border-box;
}

.main-students {
    float: left;
}

.global {
    float: left;
}

.grid-container {
    top: +1000;
    border: 1px solid grey;
    border-radius: 2%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 5px;
    font-size: 15px;
    text-align: center;
}

.span1 {
    color: white;
}

/* Main */

.main-students {
    width: 60%;
    left: 25%;
    position: relative;
    bottom: 37em;
    text-align: center;
}

.avatar {
    height: 150px;
    width: 150px;
}
